<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="container">
      <div class="row green-color d-flex justify-content-center">
        <div class="col-3 text-light">
          <div class="media">
            <i class="fas fa-cog fa-2x"></i>
            <div class="media-body ml-2 mt-1 media-font-size text-justify">
              <h5 class="mt-0 mb-0">Latest Box Activites</h5>
              <div class="mt-1 border-top border-white pt-2 pb-2">
                If it smells like fish eat as much as you wish. Sit in window
                and stare oooh, a bird, yum why must they do that, or small
                kitty warm kitty little balls of fur so please stop looking at
                your phone and pet me yet stretch, found somthing move i bite it
                tail. Ptracy.
              </div>
              <button
                class="btn btn-outline-info btn-sm bg-white float-right green-color-text"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
        <div class="col-3 text-light">
          <div class="media">
            <i class="fas fa-cog fa-2x"></i>
            <div class="media-body ml-2 mt-1 media-font-size text-justify">
              <h5 class="mt-0 mb-0">Latest Box Activites</h5>
              <div class="mt-1 border-top border-white pt-2 pb-2">
                If it smells like fish eat as much as you wish. Sit in window
                and stare oooh, a bird, yum why must they do that, or small
                kitty warm kitty little balls of fur so please stop looking at
                your phone and pet me yet stretch, found somthing move i bite it
                tail. Ptracy.
              </div>
              <button
                class="btn btn-outline-info btn-sm bg-white float-right green-color-text"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
        <div class="col-3 text-light">
          <div class="media">
            <i class="fas fa-cog fa-2x"></i>
            <div class="media-body ml-2 mt-1 media-font-size text-justify">
              <h5 class="mt-0 mb-0">Latest Box Activites</h5>
              <div class="mt-1 border-top border-white pt-2 pb-2">
                If it smells like fish eat as much as you wish. Sit in window
                and stare oooh, a bird, yum why must they do that, or small
                kitty warm kitty little balls of fur so please stop looking at
                your phone and pet me yet stretch, found somthing move i bite it
                tail. Ptracy.
              </div>
              <button
                class="btn btn-outline-info btn-sm bg-white float-right green-color-text"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-sm-3 mx-3">
          <div class="card card-width">
            <img
              class="card-img-top img-fluid"
              src="kitten_blog.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text media-font-size">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-info btn-sm float-right"
                >Go somewhere</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-3 mx-3"></div>
        <div class="col-sm-3 mx-3"></div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </main>
  </body>
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
    integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
    crossorigin="anonymous"
  ></script>
</html>
